# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
instance/
*.sqlite3

# Flask-Migrate
migrations/__pycache__/
migrations/versions/*.pyc

# IDE-filer
.vscode/
.idea/

# OS-filer
.DS_Store
Thumbs.db

# Loggar och tillfälliga filer
*.log
*.bak

# Dokumentation
/docs/
Flask-Migrate-Guide.txt
Flask-Migrate-Rollback.txt

# Bloggkategoribilder
static/blog_category_images/*
!static/blog_category_images/.gitkeep

# Portfoliokategoribilder
static/portfolio_category_images/*
!static/portfolio_category_images/.gitkeep

# Blogguploads
static/uploads/blog/*
!static/uploads/blog/.gitkeep

# Portfoliouploads
static/uploads/portfolio/*
!static/uploads/portfolio/.gitkeep