{% extends "base.html" %}

{% block title %}Åtkomst Nekad{% endblock %}
{% block content %}
<div class="text-center mt-5">
    <h1 class="display-4">403 - Ingen åtkomst</h1>
    <img src="{{ url_for('static', filename='assets/img/403.jpg') }}" alt="Bild som visar åtkomst nekad" style="width: 75%; height: auto;">
    <p class="lead">Du har inte behörighet att visa den här sidan.</p>
    <a href="{{ url_for('pages.home') }}" class="btn btn-primary mt-4">Tillbaka till startsidan</a>
</div>
{% endblock %}